body {
    background-color: Azure;
}
a {
    background: black;
}
.Home {
    background: url("https://github.com/harshacc031-dot/img/blob/main/1.png?raw=true") center/cover;
}
h1 {
    justify-content: center;
    text-shadow: 10px 10px orange;
}